@model SistemaCadastro.Controllers.ContactosController

@{
    ViewData["Title"] = "Confirmacao";
}

<h1>Deseja mesmo apagar o registo?</h1>
<button type="button" class="btn btn-primary">Apagar</button>
<a role="button" class="btn btn-primary" asp-controller="Contactos" asp-action="Index">Cancelar</a>

