@{
    ViewData["Title"] = "Pagina Principal";
}
<div class="text-center">
        
    <h1 class="display-4">Sistema CRUD</h1>
    <p>Aplicacao de registo de contactos numa Database em asp.net core mvc</p>
    
</div>
