@{
    var role = ViewBag.Role as string;
}

<div class="container welcome-container">
    @switch (role)
    {
        case "Admin":
            @Html.Partial("IndexAdminPartial")
            break;
        case "Member":
            @Html.Partial("IndexMemberPartial")
            break;
        default:
            @Html.Partial("IndexGuestPartial")
            break;
    }
</div>
